body {
	background-color: lightblue;
}

ul{
  list-style-type:none;
}


@media screen and (max-width : 1284px){
  body{
  background-color: yellow;
  }
}

<style>

.responsive{
	width: 100%;
	height: auto;
}

table {

	border: 2px solid black;
	border-collapse: collapse;
	width: 50%;
}

th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

th {
	background-color: lightgray;
}


</style>

